# Setting

In [3]:
# Import Libraries & Functions
from utility import *

In [4]:
# Turn off warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [9]:
# Data directory
root = os.path.join(os.getcwd(), 'DATA')

세계 날씨 데이터 전처리는 추가 검증이 필요하므로 전처리 가설 검증에서 진행 예정.

# Oil

## Import Data

In [4]:
df_oil = pd.read_csv(os.path.join(root, 'raw_oil.csv'), usecols=["날짜", "종가"])
df_oil_dubai = pd.read_csv(os.path.join(root, 'raw_oil_dubai.csv'), usecols=["날짜", "종가"])
df_oil_brent = pd.read_csv(os.path.join(root, 'raw_oil_brent.csv'), usecols=["날짜", "종가"])

## Preprocess

In [5]:
from datetime import datetime
def preprocess_oil(df):
    df['date'] = pd.to_datetime(df['날짜'].str[:4] + df['날짜'].str[6:8] + df['날짜'].str[10:12])
    set_week(df, 'date')  # 날짜 데이터 정리
    df['oil'] = df[['year', 'week', '종가']].groupby(['year', 'week']).transform('mean')
    df.drop(columns = ['날짜', '종가'], inplace=True, axis=1)
    df.drop_duplicates(inplace=True)
    return df

In [6]:
df_oil = preprocess_oil(df_oil)
df_oil_dubai = preprocess_oil(df_oil_dubai)
df_oil_brent = preprocess_oil(df_oil_brent)

## Check

In [7]:
for i in range(1, 53):
    if i not in (list(df_oil_brent[df_oil_brent['year'] == 2019].sort_values(by=['year', 'week'])['week'])):
        print(i)

In [8]:
check_week(df_oil)
check_week(df_oil_dubai)
check_week(df_oil_brent)

missing 0 values
missing 0 values
missing 0 values

oil과 비교하였을 때 dubai의 경우 28개, brent의 경우 3개의 데이터가 적다  
따라서 df_oil 데이터를 사용하도록 한다

---

# Korea Weather

## Import Data

In [9]:
df_weather_kr = pd.read_csv(os.path.join(root, 'raw_weather_korea.csv'),
                            encoding='euc-kr',
                            usecols=["일시", "평균 풍속(m/s)", "평균 기온(°C)", "평균 수온(°C)"])

## Preprocess Date

In [10]:
df_weather_kr['date'] = pd.to_datetime(df_weather_kr['일시'].str[:4] + df_weather_kr['일시'].str[5:7] + df_weather_kr['일시'].str[8:])
set_week(df_weather_kr, 'date')

In [11]:
df_weather_kr.describe()

         평균 풍속(m/s)     평균 기온(°C)     평균 수온(°C)          year          week
count  35181.000000  35107.000000  35300.000000  35558.000000  35558.000000
mean       5.732987     14.845689     16.884377   2018.369143     25.531554
std        2.705727      7.573504      5.945493      1.627939     15.146644
min        0.000000    -11.100000      1.100000   2015.000000      1.000000
25%        3.600000      8.800000     13.000000   2017.000000     13.000000
50%        5.400000     15.100000     16.600000   2018.000000     24.000000
75%        7.500000     21.000000     21.400000   2020.000000     39.000000
max       19.600000     34.600000     31.500000   2021.000000     53.000000

## Group
일자 별로 평균 구하기

In [12]:
df_weather_kr['wind_kr'] = df_weather_kr[['year', 'week', '평균 풍속(m/s)']].groupby(['year', 'week']).transform('mean')
df_weather_kr['temperature_kr'] = df_weather_kr[['year', 'week', '평균 기온(°C)']].groupby(['year', 'week']).transform('mean')
df_weather_kr['water_temp_kr'] = df_weather_kr[['year', 'week', '평균 수온(°C)']].groupby(['year', 'week']).transform('mean')

## Drop Column

In [13]:
drop = ['일시', '평균 풍속(m/s)', '평균 기온(°C)', '평균 수온(°C)']

In [14]:
df_weather_kr.drop(columns=drop, inplace=True, axis=1)
df_weather_kr.drop_duplicates(inplace=True)

## Check

In [15]:
check_week(df_weather_kr)

missing 0 values

In [16]:
df_weather_kr.describe()

              year        week     wind_kr  temperature_kr  water_temp_kr
count   288.000000  288.000000  288.000000      288.000000     288.000000
mean   2018.267361   25.510417    5.723881       14.920397      16.953522
std       1.612682   15.112121    1.340964        7.177077       5.321755
min    2015.000000    1.000000    2.706723       -0.529915       8.389899
25%    2017.000000   12.750000    4.763866        8.648878      12.088782
50%    2018.000000   24.500000    5.668908       14.792355      16.279115
75%    2020.000000   38.250000    6.656410       21.312062      21.471801
max    2021.000000   53.000000    9.819643       28.610924      28.495798

---

# CPI

## Import Data

In [17]:
df_cpi_total = pd.read_csv(os.path.join(root, 'raw_cpi_total.csv'), encoding='cp949')  # 총 소비자물가지수
df_cpi_fish =  pd.read_csv(os.path.join(root, 'raw_cpi_fish.csv'), encoding='cp949')  # 수산물 소비자물가지수

## Drop Columns/Rows

In [18]:
df_cpi_total = df_cpi_total[df_cpi_total['지출목적별'] == "0 총지수"].drop(columns=['시도별', '지출목적별'], axis=1)
df_cpi_fish = df_cpi_fish[df_cpi_fish['지출목적별'] == "어류 및 수산"].drop(columns=['Unnamed: 0', '지출목적별'], axis=1)

## Pivoting

In [19]:
df_cpi_total = df_cpi_total.transpose().reset_index()
df_cpi_fish = df_cpi_fish.transpose().reset_index()

## Rename

In [20]:
df_cpi_total.rename(columns={0: 'cpi_total'}, inplace=True)
df_cpi_fish.rename(columns={0: 'cpi_fish'}, inplace=True)
print(df_cpi_total.columns, df_cpi_fish.columns)

Index(['index', 'cpi_total'], dtype='object') Index(['index', 'cpi_fish'], dtype='object')

## Preprocess Date

In [21]:
df_cpi_total['year'] = df_cpi_total['index'].str[:4].astype('int')
df_cpi_total['month'] = df_cpi_total['index'].str[6:8].astype('int')
df_cpi_fish['year'] = df_cpi_fish['index'].str[:4].astype('int')
df_cpi_fish['month'] = df_cpi_fish['index'].str[6:8].astype('int')

In [22]:
df_cpi_fish

         index  cpi_fish  year  month
0   2015. 12 월    101.26  2015     12
1   2016. 01 월    100.76  2016      1
2   2016. 02 월    102.30  2016      2
3   2016. 03 월    102.23  2016      3
4   2016. 04 월    102.73  2016      4
..         ...       ...   ...    ...
63  2021. 03 월    121.67  2021      3
64  2021. 04 월    121.79  2021      4
65  2021. 05 월    122.01  2021      5
66  2021. 06 월    121.50  2021      6
67  2021. 07 월    120.08  2021      7

[68 rows x 4 columns]

In [23]:
df_cpi_total.drop(columns=['index'], inplace=True)
df_cpi_fish.drop(columns=['index'], inplace=True)

In [24]:
# Merge df
df_cpi = pd.merge(left=df_cpi_total, right=df_cpi_fish, how='left', on=['year', 'month'])

In [25]:
# create days by duplicating data
new_df = pd.DataFrame(columns=list(df_cpi.columns) + ['day'])
for i, row in df_cpi.iterrows():
    data = df_cpi.iloc[i]
    year, month, cpi_total, cpi_fish = data['year'].astype('int'), data['month'].astype('int'), data['cpi_total'], data['cpi_fish']
    for day in range(1, monthrange(year, month)[1]+1):
        if datetime(year, month, day).weekday() == 0:
            new_df = new_df.append({'year': str(year),
                                    'month': str(month),
                                    'day': str(day),
                                    'cpi_total': cpi_total,
                                    'cpi_fish': cpi_fish},
                                   ignore_index=True)
df_cpi = new_df

In [26]:
df_cpi['date'] = df_cpi['year'] + " " + df_cpi['month'] + " " + df_cpi['day']

In [27]:
set_week(df_cpi, 'date')

## 정리
- drop unused columns
- drop duplicates

In [28]:
df_cpi.drop(columns=['month', 'day'], inplace=True)
df_cpi.drop_duplicates(inplace=True)

## Check

In [29]:
check_week(df_cpi)

missing 0 values

---

# Exchange Rate

In [30]:
exchange_list = [pd.read_csv(os.path.join(root, 'raw_exchange_chile.csv'), usecols=["날짜", "종가"]),
                 pd.read_csv(os.path.join(root, 'raw_exchange_china.csv'), usecols=["날짜", "종가"]),
                 pd.read_csv(os.path.join(root, 'raw_exchange_norway.csv'), usecols=["날짜", "종가"]),
                 pd.read_csv(os.path.join(root, 'raw_exchange_peru.csv'), usecols=["날짜", "종가"]),
                 pd.read_csv(os.path.join(root, 'raw_exchange_thai.csv'), usecols=["날짜", "종가"]),
                 pd.read_csv(os.path.join(root, 'raw_exchange_vietnam.csv'), usecols=["날짜", "종가"])]

In [31]:
ctry_name = ['칠레', '중국', '노르웨이', '페루', '태국', '베트남']
for i in range(len(exchange_list)):
    set_week(exchange_list[i], '날짜')
    check_week(exchange_list[i])
    exchange_list[i]['CTRY_2'] = ctry_name[i]

missing 0 values
missing 0 values
missing 0 values
missing 0 values
missing 0 values
missing 0 values

In [32]:
df_exchange = pd.concat(exchange_list)

## Rename

In [33]:
df_exchange.rename(columns={"종가": 'exchange'}, inplace=True)

## Save Files

In [34]:
def save_file(df, file_name):
    df.to_csv(os.path.join(root, file_name), encoding='utf-8', index=False)

In [35]:
save_file(df_oil, 'preprocessed_oil.csv')  # 원유 종가
save_file(df_weather_kr, 'preprocessed_weather_korea.csv')  # 한국 날씨
save_file(df_cpi, 'preprocessed_cpi.csv')  # 소비자물가지수
save_file(df_exchange, 'preprocessed_exchange.csv')  # 환율

# 끝