<table style="border:1px solid gray">
    <thead style="border:1px solid gray">
        <tr>
            <th>index</th>
            <th>df명</th>
            <th>설명</th>
            <th>비교</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>df0_base</td>
            <td>최소한의 전처리만 진행</td>
            <td>다른 dataframe 검증할 때 비교</td>
        </tr>
        <tr style="border:1px solid gray">
            <td colspan=4 style="text-align: center"><b>Date</b></td>
        </tr>
        <tr>
            <td>1</td>
            <td>df1_date</td>
            <td>날짜 데이터 포함</td>
            <td rowspan=3>df0_base, df1_date, df3_date 비교 후,<br>데이터 추가 후 df2_date와 비교</td>
        </tr>
        <tr>
            <td>2</td>
            <td>df2_date</td>
            <td>날짜 데이터 제거</td>
        </tr>
        <tr>
            <td>3</td>
            <td>df3_date</td>
            <td>날짜 데이터 one hot encoding</td>
        </tr>
        <tr style="border:1px solid gray">
            <td colspan=4 style="text-align: center"><b>Adding columns</b></td>
        </tr>
        <tr>
            <td>4</td>
            <td>df4_name</td>
            <td>어종별 수 컬럼 추가</td>
            <td rowspan=2>df0_base<br>df4_name<br>df5_import</td>
        </tr>
        <tr>
            <td>5</td>
            <td>df5_import</td>
            <td>수입용도 수 컬럼 추가</td>
        </tr>
        <tr style="border:1px solid gray">
            <td colspan=4 style="text-align: center"><b>Dropping Columns</b></td>
        </tr>
        <tr>
            <td>6</td>
            <td>df6_caegory</td>
            <td>CATEGORY_2, P_NAME 컬럼 제거</td>
            <td rowspan=2>df0_base<br>df6_category<br>df7_category</td>
        </tr>
        <tr>
            <td>7</td>
            <td>df7_category</td>
            <td>CATEGORY_1, CATEGORY_2 컬럼 제거</td>
        </tr>
        <tr style="border:1px solid gray">
            <td colspan=4 style="text-align: center"><b>Adding Data</b></td>
        </tr>
        <tr>
            <td>8</td>
            <td>df8_add</td>
            <td>제조국 날씨, 한국 날씨, 원유 종가, 염도, 소비자물가지수 data 추가</td>
            <td>feature 중요도 파악<br>상관관계 파악</td>
        </tr>
        <tr style="border:1px solid gray">
            <td colspan=4 style="text-align: center"><b>Normalization</b></td>
        </tr>
        <tr>
            <td>9</td>
            <td>df9_add</td>
            <td>numerical feature 에 대한 정규화 진행</td>
            <td>df0_base<br>feature 중요도 파악<br>상관관계 파악</td>
        </tr>
        <tr style="border:1px solid gray">
            <td colspan=4 style="text-align: center"><b>Filling Missing Values</b></td>
        </tr>
        <tr>
            <td>10</td>
            <td>df10_fillna</td>
            <td>fillna(method=ffill)로 날씨 결측치 처리</td>
            <td rowspan=2>df0_base<br>df10_fillna<br>df11_fillna</td>
        </tr>
        <tr>
            <td>11</td>
            <td>df11_fillna</td>
            <td>fillna(method=bfill)로 날씨 결측치 처리</td>
        </tr>
        <tr style="border:1px solid gray">
            <td colspan=4 style="text-align: center"><b>Processing Outliers</b></td>
        </tr>
        <tr>
            <td>12</td>
            <td>df12_outlier</td>
            <td>전체 날씨 데이터 정규화 후 outlier 일괄 제거</td>
            <td rowspan=2>df0_base<br>df12_outlier<br>df13_outlier</td>
        </tr>
        <tr>
            <td>13</td>
            <td>df13_outlier</td>
            <td>나라별로 최저/최고 기온 파악 후 outlier 개별 제거</td>
        </tr>
        <tr style="border:1px solid gray">
            <td colspan=4 style="text-align: center"><b>Grouping</b></td>
        </tr>
        <tr>
            <td>13</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

# 전처리 가설 검증
- df_train + weather/oil 제외 추가데이터
- 모든 나라에 대해서 진행

# Setting

### Library

In [1]:
# Import Libraries
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

# Visuzliation Setting
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from matplotlib import rc
from matplotlib import colors
import seaborn as sns

# Modeling
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats

### Date

In [18]:
from datetime import date, timedelta


def set_week(df, date):
    '''
    df : datetime 형식의 컬럼을 가지고 있는 dataframe
    date : df에서 datetime 형식을 가진 컬럼명
    return : date의 연도 컬럼과 주차 컬럼을 추가한 dataframe
    '''
    df[date] = pd.to_datetime(df[date])
    df[date] = df[date].dt.date
    df['year'] = df.apply(func=lambda x: x[date].isocalendar()[0], axis=1)
    df['week'] = df.apply(func=lambda x: x[date].isocalendar()[1], axis=1)
    df.drop(date, axis=1, inplace=True)
    

def check_week(df):
    '''
    df에 date가 전부 있는지 확인
    '''
    cnt = 0
    sdate = date(2015, 12, 28)   # start date
    edate = date(2019, 12, 30)   # end date
    delta = edate - sdate       # as timedelta
    mem = set()
    
    for i in range(delta.days + 1):
        day = sdate + timedelta(days=i)
        year, week = day.isocalendar()[0], day.isocalendar()[1]
        if year * 100 + week in mem:
            continue
        mem.add(year * 100 + week)
        if df[(df['year'] == year) & (df['week'] == week)].empty:
            print((year, week), end="")
            cnt += 1
    if cnt > 0:
        print()
    print("missing", cnt, "values")

### Model

In [2]:
def RMSE(y, y_pred):
    return mean_squared_error(y, y_pred)**0.5


def train_model(train_data, target_data, model=LinearRegression()):  # baseline model : LInearRegression
    x_train, x_test, y_train, y_test = train_test_split(train_data, target_data, random_state=0)

    model.fit(x_train, y_train)
    print("Model Training Complete!")

    pred_train, pred_test = model.predict(x_train), model.predict(x_test)

    plt.scatter(pred_train, y_train, s=10)
    plt.xlabel("Predicted price")
    plt.ylabel("Actual price")
    plt.show()

    # cvs = cross_val_score(model, x_test, y_test, cv = 5)
    # print(">> cross_val_score mean =", cvs.mean())
    print(">> RMSE train =", RMSE(y_train, pred_train))
    print(">> RMSE validation =", RMSE(y_test, pred_test))
    print(">> MAE train =", mean_absolute_error(pred_train, y_train))
    print(">> MAE validation =", mean_absolute_error(pred_test, y_test))

    return model

### Data directory

In [4]:
root = os.path.join(os.getcwd(), 'DATA')

### Merging dataframes

In [16]:
def merge_df(df_list):
    return reduce(lambda  left,right: pd.merge(left,right, on=['year', 'week'], how='left'), data_frames)

# Import Data

In [30]:
df_train = pd.read_excel(os.path.join(root, 'train.xlsx'))
df_oil = pd.read_csv(os.path.join(root, 'preprocessed_oil.csv'))
df_weather_kr = pd.read_csv(os.path.join(root, 'preprocessed_weather_korea.csv'))
df_cpi = pd.read_csv(os.path.join(root, 'preprocessed_cpi.csv'))
df_exchange = pd.read_csv(os.path.join(root, 'preprocessed_exchange.csv'))

# df0_base
**df_train**:  
- 'REG_DATE' to 'year', 'week'
- One hot encoding on categorical features

## Preprocess

In [19]:
df0_base = df_train.copy()

### Add Columns

In [20]:
set_week(df0_base, 'REG_DATE')

In [36]:
df_train['REG_DATE'].unique()

array(['2015-12-28T00:00:00.000000000', '2016-01-04T00:00:00.000000000',
       '2016-01-11T00:00:00.000000000', '2016-01-18T00:00:00.000000000',
       '2016-01-25T00:00:00.000000000', '2016-02-01T00:00:00.000000000',
       '2016-02-08T00:00:00.000000000', '2016-02-15T00:00:00.000000000',
       '2016-02-22T00:00:00.000000000', '2016-02-29T00:00:00.000000000',
       '2016-03-07T00:00:00.000000000', '2016-03-14T00:00:00.000000000',
       '2016-03-21T00:00:00.000000000', '2016-03-28T00:00:00.000000000',
       '2016-04-04T00:00:00.000000000', '2016-04-11T00:00:00.000000000',
       '2016-04-18T00:00:00.000000000', '2016-04-25T00:00:00.000000000',
       '2016-05-02T00:00:00.000000000', '2016-05-09T00:00:00.000000000',
       '2016-05-16T00:00:00.000000000', '2016-05-23T00:00:00.000000000',
       '2016-05-30T00:00:00.000000000', '2016-06-06T00:00:00.000000000',
       '2016-06-13T00:00:00.000000000', '2016-06-20T00:00:00.000000000',
       '2016-06-27T00:00:00.000000000', '2016-07-04T00:00:00.000000000',
       '2016-07-11T00:00:00.000000000', '2016-07-18T00:00:00.000000000',
       '2016-07-25T00:00:00.000000000', '2016-08-01T00:00:00.000000000',
       '2016-08-08T00:00:00.000000000', '2016-08-15T00:00:00.000000000',
       '2016-08-22T00:00:00.000000000', '2016-08-29T00:00:00.000000000',
       '2016-09-05T00:00:00.000000000', '2016-09-12T00:00:00.000000000',
       '2016-09-19T00:00:00.000000000', '2016-09-26T00:00:00.000000000',
       '2016-10-03T00:00:00.000000000', '2016-10-10T00:00:00.000000000',
       '2016-10-17T00:00:00.000000000', '2016-10-24T00:00:00.000000000',
       '2016-10-31T00:00:00.000000000', '2016-11-07T00:00:00.000000000',
       '2016-11-14T00:00:00.000000000', '2016-11-21T00:00:00.000000000',
       '2016-11-28T00:00:00.000000000', '2016-12-05T00:00:00.000000000',
       '2016-12-12T00:00:00.000000000', '2016-12-19T00:00:00.000000000',
       '2016-12-26T00:00:00.000000000', '2017-01-01T00:00:00.000000000',
       '2017-01-06T00:00:00.000000000', '2017-01-16T00:00:00.000000000',
       '2017-01-23T00:00:00.000000000', '2017-01-30T00:00:00.000000000',
       '2017-02-06T00:00:00.000000000', '2017-02-13T00:00:00.000000000',
       '2017-02-20T00:00:00.000000000', '2017-02-27T00:00:00.000000000',
       '2017-03-06T00:00:00.000000000', '2017-03-13T00:00:00.000000000',
       '2017-03-20T00:00:00.000000000', '2017-03-27T00:00:00.000000000',
       '2017-04-03T00:00:00.000000000', '2017-04-10T00:00:00.000000000',
       '2017-04-17T00:00:00.000000000', '2017-04-24T00:00:00.000000000',
       '2017-05-01T00:00:00.000000000', '2017-05-08T00:00:00.000000000',
       '2017-05-15T00:00:00.000000000', '2017-05-22T00:00:00.000000000',
       '2017-05-29T00:00:00.000000000', '2017-06-05T00:00:00.000000000',
       '2017-06-12T00:00:00.000000000', '2017-06-19T00:00:00.000000000',
       '2017-06-26T00:00:00.000000000', '2017-07-03T00:00:00.000000000',
       '2017-07-10T00:00:00.000000000', '2017-07-17T00:00:00.000000000',
       '2017-07-24T00:00:00.000000000', '2017-07-31T00:00:00.000000000',
       '2017-08-07T00:00:00.000000000', '2017-08-14T00:00:00.000000000',
       '2017-08-21T00:00:00.000000000', '2017-08-28T00:00:00.000000000',
       '2017-09-04T00:00:00.000000000', '2017-09-11T00:00:00.000000000',
       '2017-09-18T00:00:00.000000000', '2017-09-25T00:00:00.000000000',
       '2017-10-02T00:00:00.000000000', '2017-10-09T00:00:00.000000000',
       '2017-10-16T00:00:00.000000000', '2017-10-23T00:00:00.000000000',
       '2017-10-30T00:00:00.000000000', '2017-11-06T00:00:00.000000000',
       '2017-11-13T00:00:00.000000000', '2017-11-20T00:00:00.000000000',
       '2017-11-27T00:00:00.000000000', '2017-12-04T00:00:00.000000000',
       '2017-12-11T00:00:00.000000000', '2017-12-18T00:00:00.000000000',
       '2017-12-25T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2018-01-08T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-01-22T00:00:00.000000000', '2018-01-29T00:00:00.000000000',
       '2018-02-05T00:00:00.000000000', '2018-02-12T00:00:00.000000000',
       '2018-02-19T00:00:00.000000000', '2018-02-26T00:00:00.000000000',
       '2018-03-05T00:00:00.000000000', '2018-03-12T00:00:00.000000000',
       '2018-03-19T00:00:00.000000000', '2018-03-26T00:00:00.000000000',
       '2018-04-02T00:00:00.000000000', '2018-04-09T00:00:00.000000000',
       '2018-04-16T00:00:00.000000000', '2018-04-23T00:00:00.000000000',
       '2018-04-30T00:00:00.000000000', '2018-05-07T00:00:00.000000000',
       '2018-05-14T00:00:00.000000000', '2018-05-21T00:00:00.000000000',
       '2018-05-28T00:00:00.000000000', '2018-06-04T00:00:00.000000000',
       '2018-06-11T00:00:00.000000000', '2018-06-18T00:00:00.000000000',
       '2018-06-25T00:00:00.000000000', '2018-07-02T00:00:00.000000000',
       '2018-07-09T00:00:00.000000000', '2018-07-16T00:00:00.000000000',
       '2018-07-23T00:00:00.000000000', '2018-07-30T00:00:00.000000000',
       '2018-08-06T00:00:00.000000000', '2018-08-13T00:00:00.000000000',
       '2018-08-20T00:00:00.000000000', '2018-08-27T00:00:00.000000000',
       '2018-09-03T00:00:00.000000000', '2018-09-10T00:00:00.000000000',
       '2018-09-17T00:00:00.000000000', '2018-09-24T00:00:00.000000000',
       '2018-10-01T00:00:00.000000000', '2018-10-08T00:00:00.000000000',
       '2018-10-15T00:00:00.000000000', '2018-10-22T00:00:00.000000000',
       '2018-10-29T00:00:00.000000000', '2018-11-05T00:00:00.000000000',
       '2018-11-12T00:00:00.000000000', '2018-11-19T00:00:00.000000000',
       '2018-11-26T00:00:00.000000000', '2018-12-03T00:00:00.000000000',
       '2018-12-10T00:00:00.000000000', '2018-12-17T00:00:00.000000000',
       '2018-12-24T00:00:00.000000000', '2018-12-31T00:00:00.000000000',
       '2019-01-07T00:00:00.000000000', '2019-01-14T00:00:00.000000000',
       '2019-01-21T00:00:00.000000000', '2019-01-28T00:00:00.000000000',
       '2019-02-04T00:00:00.000000000', '2019-02-11T00:00:00.000000000',
       '2019-02-18T00:00:00.000000000', '2019-02-25T00:00:00.000000000',
       '2019-03-04T00:00:00.000000000', '2019-03-11T00:00:00.000000000',
       '2019-03-18T00:00:00.000000000', '2019-03-25T00:00:00.000000000',
       '2019-04-01T00:00:00.000000000', '2019-04-08T00:00:00.000000000',
       '2019-04-15T00:00:00.000000000', '2019-04-22T00:00:00.000000000',
       '2019-04-29T00:00:00.000000000', '2019-05-06T00:00:00.000000000',
       '2019-05-13T00:00:00.000000000', '2019-05-20T00:00:00.000000000',
       '2019-05-27T00:00:00.000000000', '2019-06-03T00:00:00.000000000',
       '2019-06-10T00:00:00.000000000', '2019-06-17T00:00:00.000000000',
       '2019-06-24T00:00:00.000000000', '2019-07-01T00:00:00.000000000',
       '2019-07-08T00:00:00.000000000', '2019-07-15T00:00:00.000000000',
       '2019-07-22T00:00:00.000000000', '2019-07-29T00:00:00.000000000',
       '2019-08-05T00:00:00.000000000', '2019-08-12T00:00:00.000000000',
       '2019-08-19T00:00:00.000000000', '2019-08-26T00:00:00.000000000',
       '2019-09-02T00:00:00.000000000', '2019-09-09T00:00:00.000000000',
       '2019-09-16T00:00:00.000000000', '2019-09-23T00:00:00.000000000',
       '2019-09-30T00:00:00.000000000', '2019-10-07T00:00:00.000000000',
       '2019-10-14T00:00:00.000000000', '2019-10-21T00:00:00.000000000',
       '2019-10-28T00:00:00.000000000', '2019-11-04T00:00:00.000000000',
       '2019-11-11T00:00:00.000000000', '2019-11-18T00:00:00.000000000',
       '2019-11-25T00:00:00.000000000', '2019-12-02T00:00:00.000000000',
       '2019-12-09T00:00:00.000000000', '2019-12-16T00:00:00.000000000',
       '2019-12-23T00:00:00.000000000', '2019-12-30T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [35]:
display(df_train[(df_train['REG_DATE'].astype('str').str[:9] == '2017-01-0')])

,REG_DATE,P_TYPE,CTRY_1,CTRY_2,P_PURPOSE,CATEGORY_1,CATEGORY_2,P_NAME,P_IMPORT_TYPE,P_PRICE
10285,2017-01-01,수산물,아르헨티나,아르헨티나,판매용,갑각류,새우,아르헨티나붉은새우,냉동,2.700018
10286,2017-01-01,수산물,방글라데시,방글라데시,판매용,어류,메기 동자개,메기,냉동,2.855192
10287,2017-01-01,수산물,바레인,바레인,판매용,갑각류,게,꽃게,냉동,2.950000
10288,2017-01-01,수산물,캐나다,캐나다,판매용,어류,연어,연어,냉장,11.482630
10289,2017-01-01,수산물,중국,중국,판매용,어류,민물붕어,붕어,활,2.949800
...,...,...,...,...,...,...,...,...,...,...
10644,2017-01-06,수산물,러시아,중국,판매용,어류,명태,명태,"냉동,필렛(F)",2.704495
10645,2017-01-06,수산물,중국,중국,판매용,패류 멍게류,조개,개조개,활,1.068850
10646,2017-01-06,수산물,베트남,베트남,판매용,연체류 해물모듬,쭈꾸미,주꾸미,냉동,4.523705
10647,2017-01-06,수산물,캐나다,캐나다,판매용,갑각류,가재 랍스타,바다가재,활,26.516125
10648,2017-01-06,수산물,노르웨이,노르웨이,판매용,어류,연어,연어,냉장,12.346819

In [21]:
check_week(df0_base)

(2017, 2)
missing 1 values

### One hot encoding

In [22]:
# P_IMPORT_TYPE
import_type_list = set()
for tmp in df0_base.P_IMPORT_TYPE.unique():
    for a in tmp.split(','):
        import_type_list.add(a)
for name in import_type_list:
    df0_base[name] = 0
    df0_base.loc[df0_base['P_IMPORT_TYPE'].str.contains(name, regex=False), name] = 1

In [23]:
# Others
one_hot = ['CTRY_1', 'CTRY_2', 'P_PURPOSE', 'CATEGORY_1', 'CATEGORY_2', 'P_NAME']
df0_base = pd.get_dummies(df0_base, columns=one_hot)

### Drop Columns

In [24]:
drop = ['P_TYPE', 'P_IMPORT_TYPE']
df0_base.drop(columns = drop, inplace=True)

## Train