In [1]:
import pandas as pd

In [2]:
path = '/content/drive/MyDrive/USD_VND 내역.csv'

In [3]:
data = pd.read_csv(path)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1424 entries, 0 to 1423
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1424 non-null   object
 1   종가      1424 non-null   object
 2   오픈      1424 non-null   object
 3   고가      1424 non-null   object
 4   저가      1424 non-null   object
 5   변동 %    1424 non-null   object
dtypes: object(6)
memory usage: 66.9+ KB

In [5]:
data.columns.tolist()

lst = []
for date in list(data['날짜']):
  replace_ = date.replace('년','-').replace('월','-').replace('일','').replace(' ','')
  lst.append(replace_)

data.drop('날짜',axis=1,inplace=True)

In [6]:
date = pd.Series(lst)
data = pd.concat([date, data], axis=1)
data.columns = ['날짜', '종가', '오픈', '고가', '저가', '변동 %']
data['날짜'] = pd.to_datetime(data['날짜'])

In [7]:
for col in data.columns.tolist()[2:]:
  data.drop(col, axis=1, inplace=True)

In [8]:
data['종가'] = data['종가'].str.replace(',','').replace('.','').str.replace('.','')
data['종가'] = data['종가'].astype(float)

In [9]:
def fix_price(df):
  df['종가'] = df['종가'] * 0.1

  return df['종가']


def change_price(df):
  df['종가'] = 1 / fix_price(data)

  return df['종가']

change_price(data)

0       0.000043
1       0.000043
2       0.000043
3       0.000043
4       0.000043
          ...
1419    0.000044
1420    0.000044
1421    0.000045
1422    0.000044
1423    0.000044
Name: 종가, Length: 1424, dtype: float64

In [33]:
#data.to_csv('/content/drive/MyDrive/exchange_vit_final.csv')