In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/BigContest/DATA/cpi/fish_cpi.csv', encoding='cp949')

In [ ]:
data.head(3)

   Unnamed: 0    지출목적별  2015. 12 월  ...  2021. 05 월  2021. 06 월  2021. 07 월
0           0  어류 및 수산      101.26  ...      122.01      121.50      120.08
1           1       갈치      101.79  ...      108.88      103.85       99.33
2           2       명태      101.43  ...      117.30      116.11      115.43

[3 rows x 70 columns]

In [ ]:
data.drop('Unnamed: 0',axis=1, inplace = True)
data.columns = [month.replace('.','-').replace(' ','').replace('월','') for month in data.columns]

In [ ]:
# data.info()

In [ ]:
data = data.transpose()
data_0 = data.iloc[0,:]
data_1 = data.iloc[1:,:]
data_1 = data_1.T

In [ ]:
data_1.columns = pd.to_datetime(data_1.columns)
data_1.head()

  2015-12-01 2016-01-01 2016-02-01  ... 2021-05-01 2021-06-01 2021-07-01
0     101.26     100.76      102.3  ...     122.01      121.5     120.08
1     101.79     106.69     110.47  ...     108.88     103.85      99.33
2     101.43     100.68     102.62  ...      117.3     116.11     115.43
3      100.8     100.21     100.36  ...      93.65      93.74      93.47
4      93.72       96.1     100.34  ...     112.75     115.67        113

[5 rows x 68 columns]

In [ ]:
final_df = pd.concat([data_0, data_1], axis=1)

In [ ]:
final_df.to_csv('/content/drive/MyDrive/final.csv')