In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import matplotlib.font_manager as fm

plt.rcParams['font.family'] = 'NanumGothic'
plt.style.use('ggplot')

In [2]:
os.chdir('C:\\Users\\user\\OneDrive\\바탕 화면\\이현방\\빅콘테스트\\Seafood_Import_Price_Prediction\\DATA')

In [3]:
root = os.path.join(os.getcwd(), 'cpi')

In [4]:
cpi_region = pd.read_excel(os.path.join(root, 'raw_cpi_region.xlsx')) # 전국 소비자지수

cpi_region

C:\Users\user\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시도별(1),시도별(2),품목별(1),2015. 12,2016. 01,2016. 02,2016. 03,2016. 04,2016. 05,2016. 06,...,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12
0,전국,소계,총지수,100.22,100.39,100.82,100.56,100.75,100.81,100.79,...,104.49,104.87,105.05,104.88,104.56,104.81,105.20,105.46,104.87,105.12
1,NaN,서울특별시,총지수,100.55,100.63,101.03,100.71,100.88,100.92,100.87,...,104.86,105.26,105.31,105.17,104.91,105.21,105.57,105.80,105.24,105.44
2,NaN,부산광역시,총지수,100.14,100.34,101.12,100.86,101.09,101.16,101.04,...,105.08,105.38,105.36,105.29,105.02,105.15,105.76,105.70,105.21,105.39
3,NaN,대구광역시,총지수,100.16,100.27,100.68,100.55,100.78,100.80,100.84,...,104.94,105.64,105.88,105.76,105.35,105.63,106.05,106.32,105.58,105.75
4,NaN,인천광역시,총지수,100.17,100.45,100.78,100.49,100.69,100.63,100.65,...,104.36,104.70,104.83,104.64,104.45,104.64,105.09,105.27,104.76,105.03
5,NaN,광주광역시,총지수,100.05,100.11,100.59,100.41,100.58,100.69,100.75,...,104.01,104.42,104.75,104.47,104.13,104.36,104.81,105.15,104.65,104.78
6,NaN,대전광역시,총지수,100.31,100.42,100.77,100.41,100.50,100.63,100.57,...,103.85,104.20,104.42,104.19,103.84,104.06,104.34,104.61,104.03,104.32
7,NaN,울산광역시,총지수,100.15,100.47,100.77,100.48,100.65,100.74,100.68,...,103.38,103.74,103.74,103.52,103.25,103.46,103.89,104.09,103.42,103.68
8,NaN,경기도,총지수,100.22,100.42,100.83,100.55,100.74,100.78,100.81,...,104.55,104.89,105.21,105.03,104.71,104.96,105.15,105.52,104.95,105.21
9,NaN,강원도,총지수,100.05,100.27,100.52,100.30,100.50,100.68,100.80,...,104.87,105.28,105.51,105.42,105.05,105.30,105.77,105.98,105.45,105.77
10,NaN,충청북도,총지수,99.93,100.02,100.44,100.20,100.32,100.44,100.46,...,104.11,104.55,104.83,104.66,104.19,104.45,105.15,105.34,104.79,105.03
11,NaN,충청남도,총지수,100.05,100.14,100.59,100.34,100.49,100.59,100.52,...,103.49,103.88,104.10,103.88,103.57,103.90,104.43,104.52,103.92,104.25
12,NaN,전라북도,총지수,99.94,100.06,100.40,100.22,100.38,100.48,100.53,...,104.15,104.50,104.78,104.48,103.98,104.23,104.99,105.09,104.47,104.78
13,NaN,전라남도,총지수,100.07,100.43,100.94,100.66,100.85,100.84,100.77,...,104.56,104.97,105.23,104.94,104.55,104.85,105.40,105.77,105.06,105.36
14,NaN,경상북도,총지수,99.96,100.19,100.54,100.26,100.42,100.53,100.54,...,103.93,104.36,104.54,104.38,104.00,104.17,104.50,104.81,104.24,104.56
15,NaN,경상남도,총지수,100.09,100.34,100.84,100.64,100.77,100.82,100.72,...,103.77,104.14,104.27,104.09,103.75,103.79,104.29,104.51,103.92,104.22
16,NaN,제주특별자치도,총지수,100.05,100.20,100.51,100.63,101.00,101.18,101.25,...,105.11,105.56,106.03,105.80,105.55,105.91,106.50,106.71,105.85,105.93

In [5]:
cpi_region.drop(['시도별(2)','품목별(1)'],inplace=True,axis=1) # 열 삭제

cpi_region = cpi_region[cpi_region['시도별(1)']=='전국'] # 전국 소비자지수 데이터만 추출

cpi_region2 = pd.DataFrame(cpi_region.values.reshape(50,1),index=cpi_region.columns,columns=['CPI'])

cpi_region2.drop('시도별(1)',axis=0,inplace=True)

cpi_region2 # 컬럼 인덱스 순서 변경

             CPI
2015. 12  100.22
2016. 01  100.39
2016. 02  100.82
2016. 03  100.56
2016. 04  100.75
2016. 05  100.81
2016. 06  100.79
2016. 07   100.6
2016. 08  100.86
2016. 09  101.46
2016. 10   101.6
2016. 11  101.45
2016. 12  101.56
2017. 01  102.64
2017. 02  102.92
2017. 03  102.85
2017. 04  102.72
2017. 05  102.83
2017. 06  102.61
2017. 07  102.78
2017. 08  103.37
2017. 09  103.49
2017. 10  103.39
2017. 11  102.62
2017. 12  102.99
2018. 01  103.42
2018. 02  104.21
2018. 03   104.1
2018. 04  104.29
2018. 05  104.34
2018. 06  104.13
2018. 07  103.93
2018. 08  104.85
2018. 09  105.65
2018. 10  105.46
2018. 11  104.71
2018. 12  104.35
2019. 01  104.24
2019. 02  104.69
2019. 03  104.49
2019. 04  104.87
2019. 05  105.05
2019. 06  104.88
2019. 07  104.56
2019. 08  104.81
2019. 09   105.2
2019. 10  105.46
2019. 11  104.87
2019. 12  105.12

In [9]:
cpi_region2.to_csv("C:\\Users\\user\\OneDrive\\바탕 화면\\cpi_region2.csv")

In [6]:
cpi_purpose = pd.read_csv(os.path.join(root, 'raw_cpi_purpose.csv'),encoding='ANSI') # 전국 품종별 소비자지수

cpi_purpose = pd.DataFrame(cpi_purpose)

cpi_purpose

,시도별,지출목적별,2015. 12,2016. 01,2016. 02,2016. 03,2016. 04,2016. 05,2016. 06,2016. 07,...,2020. 09,2020. 10,2020. 11,2020. 12,2021. 01,2021. 02,2021. 03,2021. 04,2021. 05,2021. 06
0,전국,0 총지수,100.22,100.39,100.82,100.56,100.75,100.81,100.79,100.60,...,106.20,105.61,105.50,105.67,106.47,107.00,107.16,107.39,107.46,107.39
1,전국,01 식료품 · 비주류음료,99.95,100.76,103.43,102.25,102.30,101.24,99.66,99.65,...,119.68,119.82,115.35,115.79,118.04,120.97,120.61,120.34,119.70,118.43
2,전국,02 주류 및 담배,100.31,100.49,100.65,100.67,100.73,100.74,100.58,100.54,...,103.39,103.52,103.45,103.38,103.58,103.54,103.43,103.87,103.90,103.97
3,전국,03 의류 및 신발,101.38,100.74,101.51,101.51,101.55,102.02,102.03,101.30,...,105.17,105.23,105.38,105.43,105.12,105.34,105.05,104.72,104.98,104.98
4,전국,04 주택 ·수도 · 전기 및 연료,100.75,99.97,100.29,99.55,99.60,99.34,99.49,97.35,...,103.23,103.54,103.46,103.58,103.60,104.18,104.48,104.44,104.71,104.88
5,전국,05 가정용품 및 가사 서비스,100.74,100.91,101.27,101.73,101.29,101.06,101.80,101.93,...,106.47,107.56,107.14,107.45,108.53,107.94,107.19,107.43,108.43,108.50
6,전국,06 보건,100.00,100.99,100.94,100.93,100.99,101.01,101.03,101.01,...,103.80,103.97,103.95,103.82,104.83,104.81,104.91,104.69,104.66,104.65
7,전국,07 교통,98.38,97.68,96.16,95.71,96.12,96.90,98.53,99.19,...,99.38,99.04,98.71,99.71,102.01,102.70,104.04,104.77,104.82,105.64
8,전국,08 통신,99.61,99.27,99.27,99.27,100.42,100.42,100.42,100.42,...,96.63,83.33,94.99,95.80,94.88,94.89,94.95,94.96,94.62,94.62
9,전국,09 오락 및 문화,99.82,100.08,100.77,100.35,100.72,102.40,101.55,103.75,...,101.76,102.34,100.67,100.00,101.04,99.88,99.80,101.38,101.67,101.19
10,전국,10 교육,100.44,100.86,101.09,101.42,101.54,101.67,101.69,101.74,...,101.35,101.44,101.56,100.91,101.10,101.26,101.45,101.60,101.66,101.69
11,전국,11 음식 및 숙박,101.06,101.40,101.67,101.98,102.26,102.40,102.50,102.74,...,111.25,111.51,111.41,111.67,111.96,112.26,112.42,112.93,113.11,113.37
12,전국,12 기타 상품 및 서비스,100.25,102.89,103.25,103.54,103.55,103.81,103.77,103.44,...,111.53,110.99,111.24,111.13,112.26,112.14,112.37,112.97,113.18,112.75

In [7]:
cpi_purpose = cpi_purpose.iloc[[1,11],:]

cpi_purpose.drop('시도별',axis=1,inplace=True) # 시도별 칼럼 제거

cpi_purpose # 전국 식료품별, 음식서비스별 cpi만 추출

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,지출목적별,2015. 12,2016. 01,2016. 02,2016. 03,2016. 04,2016. 05,2016. 06,2016. 07,2016. 08,...,2020. 09,2020. 10,2020. 11,2020. 12,2021. 01,2021. 02,2021. 03,2021. 04,2021. 05,2021. 06
1,01 식료품 · 비주류음료,99.95,100.76,103.43,102.25,102.30,101.24,99.66,99.65,101.02,...,119.68,119.82,115.35,115.79,118.04,120.97,120.61,120.34,119.70,118.43
11,11 음식 및 숙박,101.06,101.40,101.67,101.98,102.26,102.40,102.50,102.74,102.91,...,111.25,111.51,111.41,111.67,111.96,112.26,112.42,112.93,113.11,113.37

In [8]:
cpi_purpose2 = pd.DataFrame(cpi_purpose.iloc[0,:].values,index = cpi_purpose.columns,columns=['식료품 cpi'])

cpi_purpose2['음식 및 숙박 cpi'] = cpi_purpose.iloc[1,:].values

cpi_purpose2.drop('지출목적별',axis=0,inplace=True) # 지출목적별 행 삭제

cpi_purpose2 # 식료품, 음식 cpi

         식료품 cpi 음식 및 숙박 cpi
2015. 12   99.95      101.06
2016. 01  100.76       101.4
2016. 02  103.43      101.67
2016. 03  102.25      101.98
2016. 04   102.3      102.26
...          ...         ...
2021. 02  120.97      112.26
2021. 03  120.61      112.42
2021. 04  120.34      112.93
2021. 05   119.7      113.11
2021. 06  118.43      113.37

[67 rows x 2 columns]

In [10]:
cpi_purpose2.to_csv("C:\\Users\\user\\OneDrive\\바탕 화면\\cpi_purpose2.csv")