In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import matplotlib.font_manager as fm

plt.rcParams['font.family'] = 'NanumGothic'
plt.style.use('ggplot')

In [2]:
os.chdir('C:\\Users\\user\\OneDrive\\바탕 화면\\이현방\\빅콘테스트\\Seafood_Import_Price_Prediction\\DATA')

In [3]:
root = os.path.join(os.getcwd(), 'cpi')

In [4]:
cpi_purpose = pd.read_csv(os.path.join(root, 'raw_cpi_purpose.csv'),encoding='ANSI') # 전국 품종별 소비자지수

cpi_purpose = pd.DataFrame(cpi_purpose)

cpi_purpose.drop('시도별',axis=1,inplace=True)

cpi_purpose

,지출목적별,2015. 12,2016. 01,2016. 02,2016. 03,2016. 04,2016. 05,2016. 06,2016. 07,2016. 08,...,2020. 09,2020. 10,2020. 11,2020. 12,2021. 01,2021. 02,2021. 03,2021. 04,2021. 05,2021. 06
0,0 총지수,100.22,100.39,100.82,100.56,100.75,100.81,100.79,100.60,100.86,...,106.20,105.61,105.50,105.67,106.47,107.00,107.16,107.39,107.46,107.39
1,01 식료품 · 비주류음료,99.95,100.76,103.43,102.25,102.30,101.24,99.66,99.65,101.02,...,119.68,119.82,115.35,115.79,118.04,120.97,120.61,120.34,119.70,118.43
2,02 주류 및 담배,100.31,100.49,100.65,100.67,100.73,100.74,100.58,100.54,100.80,...,103.39,103.52,103.45,103.38,103.58,103.54,103.43,103.87,103.90,103.97
3,03 의류 및 신발,101.38,100.74,101.51,101.51,101.55,102.02,102.03,101.30,102.03,...,105.17,105.23,105.38,105.43,105.12,105.34,105.05,104.72,104.98,104.98
4,04 주택 ·수도 · 전기 및 연료,100.75,99.97,100.29,99.55,99.60,99.34,99.49,97.35,97.48,...,103.23,103.54,103.46,103.58,103.60,104.18,104.48,104.44,104.71,104.88
5,05 가정용품 및 가사 서비스,100.74,100.91,101.27,101.73,101.29,101.06,101.80,101.93,101.89,...,106.47,107.56,107.14,107.45,108.53,107.94,107.19,107.43,108.43,108.50
6,06 보건,100.00,100.99,100.94,100.93,100.99,101.01,101.03,101.01,100.93,...,103.80,103.97,103.95,103.82,104.83,104.81,104.91,104.69,104.66,104.65
7,07 교통,98.38,97.68,96.16,95.71,96.12,96.90,98.53,99.19,98.68,...,99.38,99.04,98.71,99.71,102.01,102.70,104.04,104.77,104.82,105.64
8,08 통신,99.61,99.27,99.27,99.27,100.42,100.42,100.42,100.42,100.42,...,96.63,83.33,94.99,95.80,94.88,94.89,94.95,94.96,94.62,94.62
9,09 오락 및 문화,99.82,100.08,100.77,100.35,100.72,102.40,101.55,103.75,104.43,...,101.76,102.34,100.67,100.00,101.04,99.88,99.80,101.38,101.67,101.19
10,10 교육,100.44,100.86,101.09,101.42,101.54,101.67,101.69,101.74,101.78,...,101.35,101.44,101.56,100.91,101.10,101.26,101.45,101.60,101.66,101.69
11,11 음식 및 숙박,101.06,101.40,101.67,101.98,102.26,102.40,102.50,102.74,102.91,...,111.25,111.51,111.41,111.67,111.96,112.26,112.42,112.93,113.11,113.37
12,12 기타 상품 및 서비스,100.25,102.89,103.25,103.54,103.55,103.81,103.77,103.44,103.42,...,111.53,110.99,111.24,111.13,112.26,112.14,112.37,112.97,113.18,112.75

In [5]:
cpi_purpose_copy = cpi_purpose.copy()

cpi_purpose_copy.drop('지출목적별',axis=1,inplace=True)

cpi_total = cpi_purpose_copy.iloc[0,:] # 전국 소비자물가 총지수만 추출

cpi_total = pd.DataFrame(cpi_total.values,columns=['cpi'],index=cpi_total.index)

cpi_total

             cpi
2015. 12  100.22
2016. 01  100.39
2016. 02  100.82
2016. 03  100.56
2016. 04  100.75
...          ...
2021. 02  107.00
2021. 03  107.16
2021. 04  107.39
2021. 05  107.46
2021. 06  107.39

[67 rows x 1 columns]

In [6]:
cpi_total.to_csv("C:\\Users\\user\\OneDrive\\바탕 화면\\cpi_total.csv")

In [7]:
cpi_purpose2 = cpi_purpose.iloc[[1,11],:]

cpi_purpose2 # 전국 식료품별, 음식서비스별 cpi만 추출

,지출목적별,2015. 12,2016. 01,2016. 02,2016. 03,2016. 04,2016. 05,2016. 06,2016. 07,2016. 08,...,2020. 09,2020. 10,2020. 11,2020. 12,2021. 01,2021. 02,2021. 03,2021. 04,2021. 05,2021. 06
1,01 식료품 · 비주류음료,99.95,100.76,103.43,102.25,102.30,101.24,99.66,99.65,101.02,...,119.68,119.82,115.35,115.79,118.04,120.97,120.61,120.34,119.70,118.43
11,11 음식 및 숙박,101.06,101.40,101.67,101.98,102.26,102.40,102.50,102.74,102.91,...,111.25,111.51,111.41,111.67,111.96,112.26,112.42,112.93,113.11,113.37

In [8]:
cpi_purpose3 = pd.DataFrame(cpi_purpose2.iloc[0,:].values,index = cpi_purpose2.columns,columns=['식료품 cpi'])

cpi_purpose3['음식 및 숙박 cpi'] = cpi_purpose2.iloc[1,:].values

cpi_purpose3.drop('지출목적별',axis=0,inplace=True) # 지출목적별 행 삭제

cpi_purpose3 # 식료품, 음식 cpi

         식료품 cpi 음식 및 숙박 cpi
2015. 12   99.95      101.06
2016. 01  100.76       101.4
2016. 02  103.43      101.67
2016. 03  102.25      101.98
2016. 04   102.3      102.26
...          ...         ...
2021. 02  120.97      112.26
2021. 03  120.61      112.42
2021. 04  120.34      112.93
2021. 05   119.7      113.11
2021. 06  118.43      113.37

[67 rows x 2 columns]

In [9]:
cpi_purpose3.to_csv("C:\\Users\\user\\OneDrive\\바탕 화면\\cpi_purpose.csv")