In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import matplotlib.font_manager as fm

plt.rcParams['font.family'] = 'NanumGothic'
plt.style.use('ggplot')

In [2]:
os.chdir('C:\\Users\\user\\OneDrive\\바탕 화면\\이현방\\빅콘테스트\\Seafood_Import_Price_Prediction')

In [3]:
root = os.path.join(os.getcwd(), 'DATA_기타')

In [4]:
cpi_whole = pd.read_excel(os.path.join(root, '소비자물가지수_시도__20210819180324.xlsx')) # 전국 소비자지수

cpi_whole

C:\Users\user\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시도별(1),시도별(2),품목별(1),2015. 12,2016. 01,2016. 02,2016. 03,2016. 04,2016. 05,2016. 06,...,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12
0,전국,소계,총지수,100.22,100.39,100.82,100.56,100.75,100.81,100.79,...,104.49,104.87,105.05,104.88,104.56,104.81,105.20,105.46,104.87,105.12
1,NaN,서울특별시,총지수,100.55,100.63,101.03,100.71,100.88,100.92,100.87,...,104.86,105.26,105.31,105.17,104.91,105.21,105.57,105.80,105.24,105.44
2,NaN,부산광역시,총지수,100.14,100.34,101.12,100.86,101.09,101.16,101.04,...,105.08,105.38,105.36,105.29,105.02,105.15,105.76,105.70,105.21,105.39
3,NaN,대구광역시,총지수,100.16,100.27,100.68,100.55,100.78,100.80,100.84,...,104.94,105.64,105.88,105.76,105.35,105.63,106.05,106.32,105.58,105.75
4,NaN,인천광역시,총지수,100.17,100.45,100.78,100.49,100.69,100.63,100.65,...,104.36,104.70,104.83,104.64,104.45,104.64,105.09,105.27,104.76,105.03
5,NaN,광주광역시,총지수,100.05,100.11,100.59,100.41,100.58,100.69,100.75,...,104.01,104.42,104.75,104.47,104.13,104.36,104.81,105.15,104.65,104.78
6,NaN,대전광역시,총지수,100.31,100.42,100.77,100.41,100.50,100.63,100.57,...,103.85,104.20,104.42,104.19,103.84,104.06,104.34,104.61,104.03,104.32
7,NaN,울산광역시,총지수,100.15,100.47,100.77,100.48,100.65,100.74,100.68,...,103.38,103.74,103.74,103.52,103.25,103.46,103.89,104.09,103.42,103.68
8,NaN,경기도,총지수,100.22,100.42,100.83,100.55,100.74,100.78,100.81,...,104.55,104.89,105.21,105.03,104.71,104.96,105.15,105.52,104.95,105.21
9,NaN,강원도,총지수,100.05,100.27,100.52,100.30,100.50,100.68,100.80,...,104.87,105.28,105.51,105.42,105.05,105.30,105.77,105.98,105.45,105.77
10,NaN,충청북도,총지수,99.93,100.02,100.44,100.20,100.32,100.44,100.46,...,104.11,104.55,104.83,104.66,104.19,104.45,105.15,105.34,104.79,105.03
11,NaN,충청남도,총지수,100.05,100.14,100.59,100.34,100.49,100.59,100.52,...,103.49,103.88,104.10,103.88,103.57,103.90,104.43,104.52,103.92,104.25
12,NaN,전라북도,총지수,99.94,100.06,100.40,100.22,100.38,100.48,100.53,...,104.15,104.50,104.78,104.48,103.98,104.23,104.99,105.09,104.47,104.78
13,NaN,전라남도,총지수,100.07,100.43,100.94,100.66,100.85,100.84,100.77,...,104.56,104.97,105.23,104.94,104.55,104.85,105.40,105.77,105.06,105.36
14,NaN,경상북도,총지수,99.96,100.19,100.54,100.26,100.42,100.53,100.54,...,103.93,104.36,104.54,104.38,104.00,104.17,104.50,104.81,104.24,104.56
15,NaN,경상남도,총지수,100.09,100.34,100.84,100.64,100.77,100.82,100.72,...,103.77,104.14,104.27,104.09,103.75,103.79,104.29,104.51,103.92,104.22
16,NaN,제주특별자치도,총지수,100.05,100.20,100.51,100.63,101.00,101.18,101.25,...,105.11,105.56,106.03,105.80,105.55,105.91,106.50,106.71,105.85,105.93

In [5]:
cpi_whole.drop(['시도별(2)','품목별(1)'],inplace=True,axis=1) # 행 삭제

cpi_whole = cpi_whole[cpi_whole['시도별(1)']=='전국'] # 전국 소비자지수 데이터만 추출

cpi_whole2 = pd.DataFrame(cpi_whole.values.reshape(50,1),index=cpi_whole.columns,columns=['CPI'])

cpi_whole2.drop('시도별(1)',axis=0,inplace=True)

cpi_whole2 # 컬럼 인덱스 순서 변경

             CPI
2015. 12  100.22
2016. 01  100.39
2016. 02  100.82
2016. 03  100.56
2016. 04  100.75
2016. 05  100.81
2016. 06  100.79
2016. 07   100.6
2016. 08  100.86
2016. 09  101.46
2016. 10   101.6
2016. 11  101.45
2016. 12  101.56
2017. 01  102.64
2017. 02  102.92
2017. 03  102.85
2017. 04  102.72
2017. 05  102.83
2017. 06  102.61
2017. 07  102.78
2017. 08  103.37
2017. 09  103.49
2017. 10  103.39
2017. 11  102.62
2017. 12  102.99
2018. 01  103.42
2018. 02  104.21
2018. 03   104.1
2018. 04  104.29
2018. 05  104.34
2018. 06  104.13
2018. 07  103.93
2018. 08  104.85
2018. 09  105.65
2018. 10  105.46
2018. 11  104.71
2018. 12  104.35
2019. 01  104.24
2019. 02  104.69
2019. 03  104.49
2019. 04  104.87
2019. 05  105.05
2019. 06  104.88
2019. 07  104.56
2019. 08  104.81
2019. 09   105.2
2019. 10  105.46
2019. 11  104.87
2019. 12  105.12

In [6]:
cpi_kind = pd.read_excel(os.path.join(root, '지출목적별_소비자물가지수_품목_포함__2015100__20210819181100.xlsx')) # 전국 품종별 소비자지수

cpi_kind

C:\Users\user\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시도별,지출목적별,2015. 12,2016. 01,2016. 02,2016. 03,2016. 04,2016. 05,2016. 06,2016. 07,...,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12
0,전국,0 총지수,100.22,100.39,100.82,100.56,100.75,100.81,100.79,100.60,...,104.49,104.87,105.05,104.88,104.56,104.81,105.20,105.46,104.87,105.12
1,NaN,01 식료품 · 비주류음료,99.95,100.76,103.43,102.25,102.30,101.24,99.66,99.65,...,108.48,109.40,108.83,107.64,106.68,107.70,110.52,110.74,107.89,109.01
2,NaN,01.1 식료품,99.95,100.80,103.65,102.38,102.45,101.39,99.64,99.69,...,108.95,109.99,109.31,108.02,106.98,108.06,111.14,111.29,108.36,109.56
3,NaN,11 음식 및 숙박,101.06,101.40,101.67,101.98,102.26,102.40,102.50,102.74,...,109.63,109.80,110.01,110.11,110.35,110.64,110.09,110.27,110.29,110.45
4,NaN,11.1 음식 서비스,101.10,101.46,101.73,102.06,102.31,102.43,102.53,102.69,...,109.86,110.05,110.20,110.33,110.40,110.48,110.18,110.38,110.42,110.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,제주특별자치도,0 총지수,100.05,100.20,100.51,100.63,101.00,101.18,101.25,101.31,...,105.11,105.56,106.03,105.80,105.55,105.91,106.50,106.71,105.85,105.93
81,NaN,01 식료품 · 비주류음료,99.99,100.25,102.44,102.13,101.80,101.19,100.56,101.56,...,109.06,110.05,110.87,109.43,108.82,110.13,112.47,112.52,108.74,108.92
82,NaN,01.1 식료품,99.94,100.31,102.65,102.31,101.96,101.34,100.64,101.72,...,109.73,110.61,111.46,109.93,109.40,110.70,113.27,113.33,109.29,109.49
83,NaN,11 음식 및 숙박,101.24,101.57,101.67,102.10,103.22,103.27,103.34,103.86,...,110.63,110.66,110.66,110.38,110.48,110.59,110.46,110.91,110.91,111.01
84,NaN,11.1 음식 서비스,101.29,101.62,101.70,102.15,103.27,103.31,103.38,103.83,...,110.71,110.75,110.70,110.42,110.46,110.46,110.46,110.93,110.93,110.99

In [7]:
cpi_kind = cpi_kind.iloc[[2,4],:]

cpi_kind.drop('시도별',axis=1,inplace=True) # 시도별 칼럼 제거

cpi_kind # 전국 식료품별, 음식서비스별 cpi만 추출

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,지출목적별,2015. 12,2016. 01,2016. 02,2016. 03,2016. 04,2016. 05,2016. 06,2016. 07,2016. 08,...,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12
2,01.1 식료품,99.95,100.80,103.65,102.38,102.45,101.39,99.64,99.69,101.16,...,108.95,109.99,109.31,108.02,106.98,108.06,111.14,111.29,108.36,109.56
4,11.1 음식 서비스,101.10,101.46,101.73,102.06,102.31,102.43,102.53,102.69,102.79,...,109.86,110.05,110.20,110.33,110.40,110.48,110.18,110.38,110.42,110.52

In [8]:
cpi_kind2 = pd.DataFrame(cpi_kind.iloc[0,:].values,index = cpi_kind.columns,columns=['식료품 cpi'])

cpi_kind2['음식서비스 cpi'] = cpi_kind.iloc[1,:].values

cpi_kind2.drop('지출목적별',axis=0,inplace=True) # 지출목적별 행 삭제

cpi_kind2 # 식료품, 음식서비스 cpi

         식료품 cpi 음식서비스 cpi
2015. 12   99.95     101.1
2016. 01   100.8    101.46
2016. 02  103.65    101.73
2016. 03  102.38    102.06
2016. 04  102.45    102.31
2016. 05  101.39    102.43
2016. 06   99.64    102.53
2016. 07   99.69    102.69
2016. 08  101.16    102.79
2016. 09  106.36    102.97
2016. 10  104.76    103.06
2016. 11  103.12    103.15
2016. 12  104.23    103.31
2017. 01   107.6    103.78
2017. 02  107.73    104.11
2017. 03  106.76    104.43
2017. 04  105.65    104.58
2017. 05  105.34    104.88
2017. 06  104.42    104.96
2017. 07  104.71    105.13
2017. 08  108.01    105.32
2017. 09   109.4    105.46
2017. 10  106.56    105.63
2017. 11  103.53    105.81
2017. 12  104.89     106.1
2018. 01  106.42    106.58
2018. 02  109.71     107.0
2018. 03  107.77    107.44
2018. 04  108.45    107.84
2018. 05  107.32    108.18
2018. 06  105.81     108.3
2018. 07  106.19    108.49
2018. 08   112.1    108.62
2018. 09  116.16    108.68
2018. 10  113.03    108.91
2018. 11  109.19    109.15
2018. 12   109.4     109.4
2019. 01  109.22    109.86
2019. 02  110.04    110.06
2019. 03  108.95    109.86
2019. 04  109.99    110.05
2019. 05  109.31     110.2
2019. 06  108.02    110.33
2019. 07  106.98     110.4
2019. 08  108.06    110.48
2019. 09  111.14    110.18
2019. 10  111.29    110.38
2019. 11  108.36    110.42
2019. 12  109.56    110.52